.jumbotron {
	background-color: black;
	color: red; 
	margin-top: 50px
}

	footer {
	padding: 25px 25px 25px 25px;
	background-color: gray; 
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-innova {
	flex: 1 200px;
	margin-top: 10px;

}

.btn-seleccionar {
	width: 100%;
	border-radius: 0px;



}
.footer-address-icon {
	padding-right: 0px;
}
.tab-content{
	padding-top: 10px;
}