.jumbotron {
  background-color: #030302;
  color: red;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 25px 25px 25px 25px;
  background-color: #030302;
  color: red;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-innova {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-seleccionar {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
