  @black: #080808;

  .margenes(@top: 0px @bottom 0px){
    margin-top: @top;
    margin-bottom: @bottom;
  }


  .jumbotron {
    background-color: @black;
    color: red;
    .margenes(50px, 0px);
  }

  footer {
    padding: 25px 25px 25px 25px;
    background-color: @black;
    .margenes(10px, 0px);
  }

  .card-innova {
    flex: 1 200px;
    .margenes(10px, 0px);

  .btn-seleccionar {
    width: 100%;
   border-radius: 0px; }

  .footer-address-icon {
    padding-right: 10px; }

  .tab-content {
     padding-top: 10px; } 