	$black: #030302;

	@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

	.jumbotron {
  		background-color: $black;
  		color: red;
  		@include margenes(50px, 0px); 
	}

	footer {
  		padding: 10px 10px 0px 10px;
  		background-color: $black;
  		@include margenes(10px, 0px); 
	 }

	.card-innova {
  		flex: 1 200px;
  		@include margenes(10px, 0px); 
	 }

	.btn-seleccionar {
 		 width: 100%;
 		 border-radius: 0px; 
 	}

	.footer-address-icon {
  		padding-right: 10px; 
 	}

	.tab-content {
 		 padding-top: 10px; 
 	}